/* Foi feito poucas modificações nele, basicamente tirei algumas coisas do JavaScript */
* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --cinza: #4f504e;
    --branco: #fff;
  }
  
  body {
    overflow-x: hidden; /*colocando isso o menu não sai para fora da tela no mobile*/
  }
  
  a {
    color: var(--branco);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--cinza);
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  
  
  /*===============Inicio do Responsivo============*/
  .mobile-menu { /*para esconder os traços enquanto não estiver na resolução querida*/
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px; /*largura do traço*/
    height: 2px; /*altura do traço*/
    background: #fff; /*cor do traço*/
    margin: 8px; /*espaço entre cada traço*/
    transition: 0.6s; /*tempo para fazer o efeito quando é clicado*/
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden; /*para esconder o menu*/
    }
    .nav-list { /*o nav-list já está com o "display: flex" faz o menu ficar horizontal*/
      position: absolute;
      top: 8vh; /*para ficar a baixo do header*/
      right: 0; /*para ele ficar colado no lado direito sem aparecer*/ /*Caso querira que o menu venha do LADO ESQUERDO colocar "left: 0";*/
      width: 50vw; /*largura do menu responsivo*/
      height: 92vh; /*altura do menu responsivo*/
      background: var(--cinza); /*cor de fundo*/
      flex-direction: column; /*faz ficar um embaixo do outro, como já está como o display: flex;*/
      align-items: center; /*centraliza o menu*/
      justify-content: space-around; /*espalha os links para os espaços disponiveis*/
      transform: translateX(100%); /*o menu vai para fora do site (para arrumar ultilizou o "overflow-x: hidden" no body)*/ /*Caso queira que o menu venha do LADO ESQUERDO colocar "transform: translateX(-100%);"*/
      transition: transform 0.3s ease-in; /*o tempo para o menu aparecer e depois a forma, que seria suave*/
    }
    .nav-list li {
      margin-left: 0; /*para ficar corretamente ao centro*/
    }
    .mobile-menu {
      display: block; /*para se ajustar, os traços vão aparecer*/
    }
  }
  
  .nav-list.ativo {
    transform: translateX(0); /*quando o nav-list estiver ativa o menu volta a aparecer(ultilizando o java script)*/
  }
    
  .mobile-menu.ativo .line1 {/*efeito dos traços quando for clicado*/
    /*transform: rotate(-45deg) translate( -8px, 8px);*/ /*forma 1*/
    transform: rotate(45deg) translate( 8px, 8px);
  }
  
  .mobile-menu.ativo .line2 {
    /*transform: translateY(-50px);*/ /*forma 2*/
    opacity: 0;
    /*transform: rotate(-45deg) translate( -2px, 0px);*/ /*forma 3, tem que estar 'opacity 1'*/
  }
  
  .mobile-menu.ativo .line3 {
    /*transform: rotate(45deg) translate( -5px, -7px);*/ /*forma 1*/
    transform: rotate(-45deg) translate( 5px, -7px);
  }
  